{% extends 'base.html.twig' %}

{% block title %}Nos partenaires{% endblock %}

{% block body %}
<h1 class="mt-3 mb-4 titre">Nos partenaires</h1>


<div class="container text-center ">
  <div class="row mb-5">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
  </div>
   <div class="row mb-5">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <h3>Heineken</h3>
            <img class="card-img-top" src="http://assets.stickpng.com/thumbs/58480a5fcef1014c0b5e4919.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
      
    </div>
  </div>
</div>
{% endblock %}
