{% extends 'base.html.twig' %}

{% block title %}FAQ LiveEvents{% endblock %}

{% block body %}
<h1 class = "mt-4 mb-2">FAQ DE LIVE EVENTS !</h1>
<h3>Question : {{ form(formReponses) }}</h3>



{% endblock %}