<h1>Bonjour, veuillez confirmer votre email!</h1>

<p>
    Veuillez confirmer votre email avec ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bien à vous.
</p></br>
<h3>L'équipe Live Events.</h3>
