@import '~mdb-ui-kit/css/mdb.min.css';


.brand{
    background: url('../img/liveevents.svg') no-repeat ;
    background-size: 60px 60px;
    height: 60px;
    width: 60px;
    margin-right: 41.5px;
}

.brand2{
    background: url('../img/liveevents.svg') no-repeat ;
    background-size: 200px 200px;
    height: 200px;
    width: 200px;
}


.mlogo{
    margin-left: auto;
    margin-right: auto;
}


.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
    
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.margeicon{
    margin-left: 10px;
}

.linear-gradient {
    background: linear-gradient(to right,#f3a060, #e76f51);
}

.navcolor {
    background-color: #264653;
}

.titre {
    color:#e9c46a;
}