{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}

<a href="{{ path('live_events_accueil') }}" class="btn btn-primary-outline sensitive" >
retour à l'Accueil
  </a>
  <br /><br />
  vous êtes sur la vue boutique
{% endblock %}
